@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@foreach(var a in Model.ArticleViewModels)
{
    <div class="Article">
        <div class="Topic">@a.Topic</div>
        <h2 class="Title">@a.Title</h2>
        <div class="ArticleAuthor">@a.AuthorUserName</div>
        <div class="ArticleDate">@a.PublishDate</div>
        <div class="ArticleContent">@a.ArticleText</div>
    </div>
}
