@model OTSSiteMVC.Models.UserConfigDto
@{
    ViewData["Title"] = "UserConfig";
    string imgSrc = string.Empty;
    if (Model.ProfileImage != null)
    {
        var base64 = Convert.ToBase64String(Model.ProfileImage.Image);
        imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    }
}

<h1>UserConfig</h1>

<div class="card">
    <div class="card-header">
        @Model.UserName
    </div>
    <img class="card-img-top" src="@imgSrc" />
    <div class="card-body">
        <table>
            <thead>
                <tr>Roles</tr>
            </thead>
            <tbody>
                <tr>
                    @foreach (var r in Model.Roles)
                    {
                        if (r.Value == true)
                        {
                        <td>@r.Key</td>
                        }
                    }
                </tr>
            </tbody>
        </table>
    </div>
</div>
<form method="post" asp-controller="Admin" asp-action="UserConfig">
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="UserName" />
    <div class="form-group">
        <table>
            <thead>
                <tr>
                    <th>Roles</th>
                    <th>Add/Remove</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var r in @Model.Roles)
                {
                    <tr>
                        <td>@r.Key</td>
                        <td>
                            @if (r.Value)
                            {
                                <input type="radio" asp-for="Roles[r.Key]" value="@true" checked /><span>Add</span>
                                <input type="radio" asp-for="Roles[r.Key]" value="@false" /><span>Remove</span>
                            }
                            else
                            {
                                <input type="radio" asp-for="Roles[r.Key]" value="@true" /><span>Add</span>
                                <input type="radio" asp-for="Roles[r.Key]" value="@false" checked/><span>Remove</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="form-group">
        @if (Model.Lockout)
        {
            <input asp-for="@Model.Lockout" class="form-control" checked />
        }
        else
        {
            <input asp-for="@Model.Lockout" class="form-control" />
        }
    </div>
    <button type="submit">Submit</button>
</form>