@model AddRolesViewModel

@inject Microsoft.AspNetCore.Identity.UserManager<Microsoft.AspNetCore.Identity.IdentityUser> _userManager

@{
    var user = _userManager.Users.FirstOrDefault(u => u.Id == Model.UserId);
}

<div>
    <div>@user.UserName</div>
    <div>@user.Email</div>
    <form asp-action="AddRoles">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input asp-for="UserId" type="hidden" value="@Model.UserId" />
            <div class="form-check">
                <input class="form-check-input" asp-for="Administrator" value="@true" />
                <label class="form-check-label">Administrator</label>
                <br />
                <input class="form-check-input" asp-for="Moderator" value="@true" />
                <label class="form-check-label">Moderator</label>
                <br />
                <input class="form-check-input" asp-for="Author" value="@true" />
                <label class="form-check-label">Author</label>
                <br />
                <input class="form-check-input" asp-for="Member" value="@true" />
                <label class="form-check-label">Member</label>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Change Roles" class="btn" />
        </div>
        <a asp-action="Details" asp-route-id="@Model.UserId">
            <button type="button" class="btn">Cancel</button>
        </a>
    </form>
</div>

