@model IEnumerable<ArticleInfoDto>
@{
    ViewData["Title"] = "Index";
}

@foreach (var a in Model)
{
    <a asp-action="PreviewArticle" asp-route-id="@a.ArticleId">
        <div class="article-info-box">
            <div class="article-info-header">@a.Title</div>
            <div>@a.AuthorUserName</div>
            <div>@a.Topic</div>
            <div>@a.Status.ToString()</div>
        </div>
    </a>
    <br />
}

