@page
@model OTSSite.Pages.Articles.ByTopicModel
@{
    ViewData["Title"] = "ByTopic";
}

<h1>@Model.Topic</h1>
@foreach (var a in Model.Articles)
{
    <div class="Article">
        <div class="Topic">@a.Topic</div>
        <h2 class="Title"><a asp-page="/Articles/Article" asp-route-id="@a.ArticleId">@a.Title</a></h2>
        <div class="ArticleAuthor">@a.AuthorUserName</div>
        <div class="ArticleDate">@a.PublishDate</div>
        <div class="ArticleContent">@a.ArticleText</div>
    </div>
}

